.App {
  text-align: center;
  overflow-x: hidden;
}

main{
  display: flex;
  flex-direction: column;

  height: 100%;
  overflow: hidden;
}
.App button{
  cursor: pointer;
}
.section__list{
  display: flex;
  flex-direction: column;
  width: 100%;

  margin: 0 auto;
}

.section__cart{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}
@media(min-width: 700px){
  main{
    flex-direction: row;
    justify-content: center;
  }
  .section__list{
    width: 393px;
  }
  .section__cart{
    justify-content: start;
    margin-right: 22px;
    padding: 20px;
  padding-left: 0;
  }
}
@media(min-width: 800px){
  main{
    justify-content: space-between;
  }

  .section__list{
    width: fit-content;
    height: fit-content;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
